<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>归档列表</title>
</head>
<body>
	<button onclick="add()">新增</button>
	<ul id="v-blogs">
		<li v-for="item in blogs">{{item.title}}</li>		
	</ul>

	<script src="../js/jquery.min.js"></script>
	<script src="../library/vue/vue.js"></script>
	<script>
	
		var vblogs = new Vue({
			el: '#v-blogs',
			data: 
			
		});
	
		$.ajax({
			type : 'post',
			url : 'http://localhost:8080/blog/getAll',
			success : function(data) {
				var json = JSON.parse(data);
				var $tbMain = $('#tbMain');
				for (var i = 0, length = json.length; i < length; i++) {
					var blog = '<tr><td><a href="http://localhost:8080/view/editor.html?id='
							+ json[i].id
							+ '" >'
							+ json[i].title
							+ '</a></td><td onclick=del('+json[i].id+')>删除</td></tr>';
					$tbMain.append(blog);
				}
			}
		});
		
		
		function add(){
			window.location.href="http://localhost:8080/view/editor.html";
		}
		
		function del(id){
			$.ajax({
				type : 'delete',
				url : 'http://localhost:8080/blog/' + id,
				success : function(data) {
					window.location.href="http://localhost:8080/view/archives.html";
				}
			});
		}
	</script>
</body>
</html>